<!-- ******FOOTER****** --> 
<footer class="footer">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-5 col-sm-7 col-sm-12 about">
          <div class="footer-col-inner">
            <h3 class="title">About</h3>
            <p>
              OPAL is an Open Source framework for building clinical applications from 
              <a href="http://openhealthcare.org.uk" target="_blank">Open Health Care UK <i class="glyphicon glyphicon-new-window"></i></a>.
            </p>
            
          </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->
        <div class="footer-col col-md-3 col-sm-4 col-md-offset-1 links">
          <div class="footer-col-inner">
            <h3 class="title">Links</h3>
            <ul class="list-unstyled">
              <li><a href="https://github.com/openhealthcare/opal"><i class="fa-github fa"></i> OPAL Source Code</a></li>
              <li><a href="https://github.com/openhealthcare/opal/issues"><i class="glyphicon-new-window glyphicon"></i> Issues</a></li>
            </ul>
          </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->                 
        <div class="footer-col col-md-3 col-sm-12 contact">
          <div class="footer-col-inner">
            <h3 class="title">Get in touch</h3>
            <div class="row">
              <p class="twitter col-md-12 col-sm-4"><a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i>@{{ site.twitter_username }}</a></p>
              <p class="email col-md-12 col-sm-4"><a href="mailto:hello@openhealthcare.org.uk"><i class="fa fa-envelope"></i>hello@openhealthcare.org.uk</a></p>
            </div> 
          </div><!--//footer-col-inner-->            
        </div><!--//foooter-col-->   
      </div><!--//row-->
    </div><!--//container-->        
  </div><!--//footer-content-->
  <div class="bottom-bar">
    <div class="container">
      <div class="row">
        <small class="copyright col-md-6 col-sm-6 col-xs-12">Copyright @ 2014 Open Health Care UK Ltd</small>
        <ul class="social col-md-6 col-sm-6 col-xs-12 list-inline">
          <li><a href="http://twitter.com/{{ site.twitter_username }}" class="last" ><i class="fa fa-twitter"></i></a></li>

        </ul><!--//social-->
      </div><!--//row-->
    </div><!--//container-->
  </div><!--//bottom-bar-->
</footer><!--//footer-->

