
<!-- ******HEADER****** --> 
<header id="header" class="header">  
  <div class="container">            
    <a href="http://openhealthcare.org.uk" class="logo pull-left">
      <img src="assets/images/toplogo.png" />
    </a>

    <nav id="main-nav" class="main-nav navbar-right" role="navigation">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button><!--//nav-toggle-->
      </div><!--//navbar-header-->            
      <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a href="index.html">Home</a></li>
          <li class="nav-item"><a class="{% if page.name == 'modules.html' %}btn btn-cta btn-cta-primary{% endif %}" href="modules.html">Modules</a></li>
          <li class="nav-item nav-item-cta"><a class="{% if page.name == 'specialities.html' %}btn btn-cta btn-cta-primary{% endif %}" href="specialities.html">Specialties</a></li>
          <li class="nav-item nav-item-cta last"><a class="{% if page.name == 'contact.html' %}btn btn-cta btn-cta-primary{% endif %}" href="contact.html">Get Started</a></li>
        </ul><!--//nav-->
      </div><!--//navabr-collapse-->
    </nav><!--//main-nav-->           
  </div><!--//container-->
</header><!--//header-->
